//- header.jade
doctype html
html(lang="en")
  head
    title #{pageTitle}
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./styles/styles.css")
  body
  
  
  script(src="./scripts/all.js")
